.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.app__postsRight {
  margin-left: 10px;
  display: none;
}
@media screen and (min-width: 860px) {
  .app__postsRight {
    display: block;
  }
}

.app__headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
}
.app__headerSearch {
  display: none;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #fafafa;
}
.app__headerSearch > input {
  border: none;
  outline: none;
}

.app__headerSearch > .MuiSvgIcon-root {
  color: gray;
}

@media screen and (min-width: 530px) {
  .app__headerSearch {
    display: flex;
  }
}
.app__headerRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.app__headerRight > .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.app__headerRight > .MuiAvatar-root {
  width: 30px;
  height: 30px;
}

.storyContainer {
  padding: 10px;
}
